
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f5f5f5;
}

.navbar{
    background:#121212;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
}

.logo{
    color:#1DB954;
    font-size:30px;
    font-weight:bold;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:25px;
}

.nav-links li a{
    color:white;
    text-decoration:none;
    font-size:18px;
    transition:0.3s;
}

.nav-links li a:hover{
    color:#1DB954;
}

.hero{
    text-align:center;
    padding:80px 20px;
}

.hero h2{
    font-size:45px;
    margin-bottom:15px;
}

.hero p{
    font-size:20px;
    color:#666;
    margin-bottom:25px;
}

button{
    background:#1DB954;
    color:white;
    border:none;
    padding:15px 35px;
    border-radius:30px;
    font-size:18px;
    cursor:pointer;
}

button:hover{
    background:#169944;
}

.products{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    padding:40px;
}

.product-card{
    width:280px;
    background:white;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.15);
    padding:20px;
    text-align:center;
}

.product-card img{
    width:100%;
    border-radius:10px;
}

.product-card h3{
    margin:15px 0;
}

.product-card p{
    color:#1DB954;
    font-size:22px;
    font-weight:bold;
    margin-bottom:15px;
}

footer{
    background:#121212;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}